.movies-container{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding: 1em 0 4em 0;
    margin-top: 2em;
    margin-bottom: 10em;
    justify-content: space-evenly;    
}

.movies-show-library-container{
    display: flex;
    gap: 4em;
    flex-wrap: wrap;
    background-color: black;
    padding: 2em;
    justify-content: center;
}

.card{
    background-color: #111111;
    color: #F4DFC8;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3), 
              0 6px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3), 
              0 6px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card Button{
    background-color: #F4DFC8;
    color: #111111;
    border: 1px solid #111;
    font-weight: bold;
}

.card Button:hover{
    background-color: #fc4218;
    border: 1px solid #111;
    color: #F4DFC8;
}

.card-body{
    font-size: 0.7em;
}