@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "navigation.css";
@import "slideshow.css";
@import 'topMovies.css';
@import 'card-movie.css';
@import 'movies.css';
@import 'forms.css';
@import 'movie-details.css';
@import 'user.css';
@import 'loader.css';
@import 'search.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

html{
    font: 16px/1.5 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body{
    scroll-snap-type: y mandatory;
}

section{
    scroll-snap-align: start;
}

body, input, textarea, button{
    font: inherit;
}

/* h1{font-size: 2.4em;}
h2{font-size: 2.0em;}
h3{font-size: 1.6em;}
h2{font-size: 1.2em;} */

body{
    background-color: #111111;
}


.site-footer{
    background-color: #000;
    color: #F4DFC8;
    text-align: center;
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-footer .wrapper{
    padding: 1.5em;
}

.not-found-wrapper{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.not-found-wrapper i{
    font-size: 8em;
    color: #F4DFC8;
}